@model Commande

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Commande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCommande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCommande)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPayer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPayer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommandeStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommandeStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consomateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consomateur.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CommandeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
