@model IEnumerable<Commande>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCommande)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommandeStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consomateur)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCommande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommandeStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consomateur.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CommandeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CommandeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CommandeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
